<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>User Detail</title>
  </head>
<div style='margin-left: 50px; margin-top: 50px'>
<a href='/'>Home</a>
<h3>{{ user_ }}'s Ticket Details</h3>
<ul>
    <li>Tickets Authored</li>
        <ul>
            {% for filed in submitted_tickets %}
                <li><a href='/ticket/{{ filed.id }}/'>{{filed.title}}</a></li>
            {% endfor %}
        </ul>
</ul>
<ul>
    <li>Tickets Assigned</li>
        <ul>
           {% for assigned in assigned_tickets %}
                <li><a href='/ticket/{{ assigned.id }}/'>{{assigned.title}}</a></li>
            {% endfor %}
        </ul>
</ul>
<ul>
    <li>Tickets Completed</li>
        <ul>
            {% for completed in completed_tickets %}
                <li><a href='/ticket/{{ completed.id }}/'>{{completed.title}}</a></li>
            {% endfor %}
        </ul>
</ul>
</div>